HNKSECAGENTS_MODEL=gpt-4o-mini
HNKSECAGENTS_MODEL_PROVIDER=openai
# HNKSECAGENTS_API_KEY=
# HNKSECAGENTS_BASE_URL=
# HNKSECAGENTS_TEMPERATURE=0
# HNKSECAGENTS_MAX_TOKENS=4096
# HNKSECAGENTS_WORKSPACE_ROOT=/Users/bytedance/Desktop/AI_hacker/tencent/hnksecagents
